@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); */
  /* min-width: 1000px;
  min-height: 100vh;

  background: rgb(87,142,68);
  background: radial-gradient(circle, rgba(87,142,68,1) 0%, rgba(255,255,255,1) 100%); */
}

